body {
    margin: 0px;
    font-family: arial;
    background-image: url(".././assets/imgs/background-sky.png");
    background-size: cover;
    display: flex;
    justify-content: center;
}

.container {
    height: 33vh;
    width: 80vw;
    margin-top: 3%;
}

.arrowUp {
    width: 10vw;
    position: fixed;
    margin-top: 100vh;
    margin-left: 80vw;
    transition: 0.5s;
    cursor: pointer;
}

/*
INICIO DO HEADER
*/
.container .header {
    height: 250px;
    width: 100%;
    min-height: 250px;
    background-color: transparent;
}
/*
TOP HEADER
*/
.container .header .topHeader {
    height: 150px;
    width: 100%;
    min-height: 150px;
    display: flex;
}
.topHeader .imgHead {
    width: 13%;
    cursor: pointer;
    background-size: cover;
}
.topHeader .imgPo {
    background-image: url(".././assets/imgs/poAntenna.png");
}
.PoUnico {
    background-image: url(".././assets/imgs/po.png");
}
.topHeader .imgTinkyWin {
    background-image: url(".././assets/imgs/tinkyWinAntenna.png");
}
.TinkyWinUnico {
    background-image: url(".././assets/imgs/tinkyWin.png");
}
.topHeader .imgLala {
    background-image: url(".././assets/imgs/lalaAntenna.png");
}
.LalaUnico {
    background-image: url(".././assets/imgs/lala.png");
}
.topHeader .imgDipsy {
    background-image: url(".././assets/imgs/dipsyAntenna.png");
}
.DipsyUnico {
    background-image: url(".././assets/imgs/dipsy.png");
}
/*
MIDDLE HEADER
*/
.container .header .middleHeader {
    height: 50px;
    width: 100%;
    min-height: 50px;
    display: flex;
    font-size: 1.3vw;
    font-family: "Arial Black";
    font-weight: bold;
}
.window {
    height: 100%;
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    cursor: pointer;
}
.windPo {
    background-color: #f00404;
    color: #ffdcdc;
}
.middlePoUnico {
    background-color: #d50606;
}
.windTinkyWin {
    background-color: #3f106b;
    color: #d5a8ff;
}
.middleTinkyWinUnico {
    background-color: #3f205d;
}
.windLala {
    background-color: #faff00;
    color: #4d4e09;
}
.middleLalaUnico {
    background-color: #fff45a;
}
.windDipsy {
    background-color: #66eb4f;
    color: #154e0a;
}
.middleDipsyUnico {
    background-color: #55d13f;
}
.logoName {
    width: 33%;
    margin-left: 5%;
}
/*
BOTTOM HEADER
*/
.bottomHeaderGeneral {
    height: 50px;
    width: 100%;
    min-height: 50px;
    border-top-right-radius: 15%;
}
.bottomHeaderPo {
    background-color: #d50606;
}
.bottomHeaderTinkyWin {
    background-color: #3f205d;
}
.bottomHeaderLala {
    background-color: #fff45a;
}
.bottomHeaderDipsy {
    background-color: #55d13f;
}
/*
FIM DO HEADER
*/

/*
INICIO DO DARK MODE HEADER
*/
.darkBackground {
    background-image: url(".././assets/imgs/background-night.png");
}
.topHeader .darkImgPo {
    background-image: url(".././assets/imgs/po-ver2.png");
}
.topHeader .darkImgTinkyWin {
    background-image: url(".././assets/imgs/tinkyWin-ver2.png");
}
.topHeader .darkImgLala {
    background-image: url(".././assets/imgs/lala-ver2.png");
}
.topHeader .darkImgDipsy {
    background-image: url(".././assets/imgs/dipsy-ver2.png");
}
.windDark {
    background-color: #2a2a2a;
    color: #a0a0a0;
}
.bottomHeaderDark {
    background-color: #2a2a2a;
}
/*
FIM DO DARK MODE HEADER
*/


/*
BLOG
*/
.pagina {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
.TV {
    height: 100%;
    width: 18%;
    background-image: url(".././assets/imgs/tubbyTV.png");
    background-size: cover;
}
.TV .videoFrame {
    width: 50%;
    height: 16%;
    margin-top: 129%;
    margin-left: 29%;
}
.indexHello {
    width: 30%;
    align-self: center;
    margin-top: 20px;
}
.pagina .title {
    width: 90%;
    font-size: 200%;
    text-align: center;
    align-self: center;
    font-weight: bold;
}
.text1 {
    width: 90%;
    font-size: 150%;
    text-align: center;
    align-self: center;
}
.cardAPI {
    width: 70%;
    height: 400px;
    align-self: center;
    border-radius: 20px;
    border: 3px double black;
    display: flex;
    font-size: 130%;
}
.cardAPI .left {
    width: 49.9%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cardAPI .middle {
    width: 0.2%;
    height: 90%;
    background-color: black;
    margin: auto;
}
.cardAPI .right {
    width: 49.9%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cardAPI .right input {
    width: 60%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
.cardAPI .right button {
    width: 30%;
    height: 30px;
    border: 0px;
    transition: 0.2s;
    background-color: rgb(221, 221, 221);
    color: rgb(94, 94, 94);
    border-radius: 5px;
    font-family: "Arial Black";
}
.cardAPI .right button:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.itensAlinhados {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}
.text2 {
    width: 30%;
    height: 100%;
    font-size: 150%;
}